/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px
}
.standard-text{
    text-align: center;
}

/* ------------------------------------  Header */
.bg-img{
    background-image: url(/images/landing.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}
.main-title{
    margin-top: 4rem;
    color: #fff;
    font-size: 3rem;
    
}
.bg-img p{
    color: #fff;
    width: 50%;
    text-align: center;
}
/* ---------------------------------------------------- navbar */
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    padding: 1rem ;
}
.nav-bar img{
    height: 50px;
    display: flex;
    margin: auto;
}
.nav-links>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.nav-links>ul li{
    padding: 5px 10px ;
    color:black;
}
.nav-links a{
    text-decoration: none;
}
/* ---------------------------------------- offer section */
.container-offer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-offer img{
    width: 120px;
    /* display: flex;
    margin: auto; */
}
.container-offer div{
    width: 40%;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    border: 1px solid #0005;
}
/* ------------------------------- west section */ 
.west-section{
    display: flex;
    background-color: #00B172;
}

.west-section-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #fff;
}
.west-section-info h4{
    font-weight: bolder;
}
.west-title{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}