/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px
}
.standard-text{
    text-align: center;
}
.standard-section{
    padding: 5rem 0;
}

/* ------------------------------------  Header */
.bg-img{
    background-image: url(/images/landing.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}
.main-title{
    margin-top: 4rem;
    color: #fff;
    font-size: 3rem;
    
}
.bg-img p{
    color: #fff;
    width: 50%;
    text-align: center;
}
/* ---------------------------------------------------- navbar */
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    padding: 1rem ;
    z-index: 1;
    
}
.nav-bar img{
    height: 50px;
    display: flex;
    margin: auto 0;
}
.nav-links>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.nav-links>ul li{
    padding: 5px 10px ;
    color:black;
}
.nav-links a{
    text-decoration: none;
}
/* ---------------------------------------- offer section */
.container-offer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-offer img{
    width: 120px;
    /* display: flex;
    margin: auto; */ 
}
.container-offer div{
    width: 40%;
    height: 300px;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    border: 1px solid #0005;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* ------------------------------- west section */ 
.west-section{
    display: flex;
    background-color: #00B172;
    
}

.west-section-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #fff;
}
.west-section-info h4{
    font-weight: bolder;
}
.west-title{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.west-section-img-container{
    height: 500px;
}
.west-img{
    height: 100%;
    display: flex;
    margin: auto;
}
.west-absolute-logo{
    position: absolute;
    width: 100px;
    top:47%;
    left: 47%;
}
@media screen and (min-width: 720px){
    .standard-section{
        padding: 5rem ;
    }
    .container-offer{
        flex-direction: row;
    }
    .container-offer div{
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .west-section-info, .west-section-img-container{
        width: 40%;
    }
    .west-section-info h4, .west-section-info p{
        width: 80%;
        text-align: left;
    }
}
@media screen and (max-width: 720px){
    .west-img,.west-absolute-logo{
        display: none;
    }

}
@media screen and (max-width: 1000px){
    .west-absolute-logo{
        display: none;
    }

}